.noShow {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.biomeFont {
    font-family: 'Biome';
    font-weight: normal;
}

.biomeFont-bold {
    font-family: 'Biome';
    font-weight: bold;
}

.highlights {
  background: #14263b;
  margin-left: 2px;
  margin-right: 2px;
}

.rounded-box {
  border-radius: 5px;
  overflow: hidden;
}

.screenToWidth {
    width: 34vw;
    text-align: center;
    text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 0;
    padding-right: 0;
}

.limitFrame {
  max-width: 500px;
}

.inputEdit {
  border: solid 1px rgba(255, 100, 170, 0.8);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (min-width: 500px) {
  .screenToWidth {
    width: calc(500px * 0.34);
  }
}

@keyframes hop {
  0% { transform: translateY(0); }
  30% { transform: translateY(-5px); }
  60% { transform: translateY(0); }
}

.hop-char {
  display: inline-block;
  animation: hop 0.6s ease;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}